.form{
    border: solid 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    /* width: 20%; */
    margin: 30px;
}

.button{
    width: auto;
    max-width: 200px;
    margin-bottom: 0;
}

.select{
    padding: 5px;
}

.label{
    margin-bottom: 5px;
}